/* reset */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
}
a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  visibility: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
/* base */
.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}
.decorated-link {
  text-decoration: underline;
  color: var(--main-active-color);
}
.decorated-link:hover,
.decorated-link:active {
  color: var(--main-text-color);
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-text-color);
  letter-spacing: 0.03rem;
  color: var(--main-text-color);
  overflow-x: hidden;
}
