/* ------- general styles  ------- */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: var(--hero-background-color);
  text-align: center;
  background-image: linear-gradient(0,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%),
    url("../images/header-1600-min.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 1600px; */
}

.hero .container {
  padding-top: 118px;
  padding-bottom: 118px;
  padding-left: 60px;
  padding-right: 60px;
}

.hero__title {
  color: var(--white);
  letter-spacing: 0.06rem;
  line-height: 1.615;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
}

.button {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 24px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.06rem;
  line-height: 1.62;
  background-color: var(--secondary-background-color);
  font-family: "Roboto", sans-serif;
  border: none;
  display: inline-block;

  transition-duration: var(--trs-duration);
  transition-timing-function: var(--trs-timing-function);
  transition-property: background-color, color, box-shadow;
}

.button:active,
.button:hover,
.button:focus {
  background-color: var(--main-active-color);
  color: var(--white);
  cursor: pointer;
}

.hero .primary-button {
  margin-top: 32px;
}

.primary-button {
  background-color: var(--main-active-color);
  color: var(--white);
  line-height: 1.87;
  font-weight: 700;
}

.primary-button:active,
.primary-button:hover,
.primary-button:focus {
  background-color: var(--button-active-color);
}

.section-title {
  font-weight: 700;
  margin-bottom: 50px;
}

.svg-icon {
  fill: currentColor;
  /* stroke: currentColor; */
}

.support-link__icon {
  margin-right: 10px;
}

.icon-container {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage__icon {
  height: 120px;
  background-color: var(--secondary-background-color);
}

.advantage__title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin: 30px 0 0 0;
  text-align: left;
}

.advantage__description {
  color: var(--secondary-text-color);
  line-height: 1.71;
  margin-top: 10px;
  text-align: left;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

.what-we-do {
  display: none;
}

.do {
  position: relative;
}

.do__image-label {
  position: absolute;
  width: 100%;
  height: 70px;
  display: flex;

  justify-content: center;
  align-items: center;

  bottom: 0;
  left: 0;

  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  background-color: rgb(48, 49, 59, 80%);
}

.team-section {
  background-color: var(--secondary-background-color);
}

.team-member {
  background-color: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14),
    0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-member__name {
  font-weight: 500;
  font-size: 16px;
}

.team-member__job {
  margin-top: 10px;
  color: var(--secondary-text-color);
}

.social {
  display: flex;

  justify-content: center;
}

.social>li:not(:last-child) {
  margin-right: 10px;
}

.social__item {
  padding: 12px;
  border-radius: 50%;
  display: block;
  box-sizing: border-box;
  font-size: 1px;
  line-height: 0;
  color: var(--secondary-border-color);

  transition-duration: var(--trs-duration);
  transition-timing-function: var(--trs-timing-function);
  transition-property: background-color, color;
}

.social__item:hover,
.footer .social__item:hover,
.social__item:active,
.footer .social__item:active,
.social__item:focus,
.footer .social__item:focus {
  background-color: var(--main-active-color);
  color: var(--white);
}

.team-member__social {
  margin-top: 16px;
}

.team-member__info {
  padding: 30px 30px 24px 30px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.client-logo {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--secondary-border-color);
  font-size: 0;
  box-sizing: border-box;
  color: var(--secondary-border-color);

  transition-duration: var(--trs-duration);
  transition-timing-function: var(--trs-timing-function);
  transition-property: border-color, color;
}

.client-logo:hover,
.client-logo:active,
.client-logo:focus {
  border-color: var(--main-active-color);
  color: var(--main-active-color);
}
