/* ------- portfolio page styles  ------- */
.filters-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0 8px;
}
.filters-list__filter-button {
  line-height: 1.625;
  padding: 6px 22px;
  letter-spacing: 0.03rem;
}
.filters-list__filter-button:hover,
.filters-list__filter-button:active,
.filters-list__filter-button:focus {
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.8),
    0 2px 2px rgba(0, 0, 0, 0.12);
}

.product {
  border: 1px solid var(--main-border-color);
  background-color: var(--white);
  /* border-radius: 0 0 4px 4px; */

  transition-duration: var(--trs-duration);
  transition-timing-function: var(--trs-timing-function);
  transition-property: box-shadow;
}

.product:hover,
.product:active,
.product:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product__info {
  padding: 20px 24px;
  text-align: left;
}
.product__type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.875;
}

.product__title {
  margin-bottom: 4px;
  letter-spacing: 0.06rem;
  font-size: 18px;
  line-height: 2;
}
.product__image-wrapper {
  position: relative;
  overflow: hidden;
}
.product__description {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  /* opacity: 0; */

  background-color: rgb(33, 150, 243, 90%);

  font-size: 18px;
  line-height: 1.56;
  color: var(--white);
  text-align: left;
  font-weight: 400;

  transition-duration: var(--trs-duration);
  transition-timing-function: var(--trs-timing-function);
  transition-property: transform;
  transform: translate(0, 100%);
}

.product a:hover .product__description,
.product a:focus .product__description {
  transform: translate(0, 0);
}
