:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-active-color: #2196f3;
  --white: #fff;
  --secondary-background-color: #f5f4fa;
  --hero-background-color: #c4c4c4;
  --footer-background-color: #2f303a;
  --button-active-color: #188ce8;
  --main-border-color: #ececec;
  --secondary-border-color: #afb1b8;
  --product-border-color: #eeeeee;

  --trs-duration: 250ms;
  --trs-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
