/* reset */
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
img{
  display: block;
}
a{
  color:inherit;
  text-decoration: none;
}

:root {
  --main-text-color: #212121;
  --main-active-color: #2196f3;
  --white: #fff;
  --secondary-text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --button-active-color: #188ce8;
  --main-border-color: #ececec;
  --product-border-color: #eeeeee;
}

.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}

.invisible {
  display: none;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-text-color);
  letter-spacing: 0.03rem;
  color: var(--main-text-color);
}
/*  ------- header styles -------  */
.primary-header {
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02rem;
  background-color: var(--white);
  border-bottom: 1px solid var(--main-border-color);
}

.primary-header-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 93px;
}

.logo-text {
  color: #000;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.logo-text-part {
  color: var(--main-active-color);
}

.support > ul {
  margin: 0;
}

.header-list-wrapper {
  display: flex;
  margin-right: -50px;
}
.header-list-item {
  margin-right: 50px;
}

.navigation-link:hover,
.navigation-link:active,
.navigation-link:focus,
.navigation-link.link-active,
.support-link:hover,
.support-link:active,
.support-link:focus {
  color: var(--main-active-color);
}

.support {
  margin-left: auto;
}

.support-link {
  color: var(--secondary-text-color);
}
/* ------- general styles  ------- */
.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.flex-list-container {
  display: flex;
  margin-right: -30px;
  margin-bottom: -30px;
}
.flex-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.flex-wrap{
  flex-wrap: wrap;
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--footer-background-color);
  text-align: center;
}
.hero-title {
  color: var(--white);
  letter-spacing: 0.06rem;
  line-height: 1.36;
  font-size: 44px;
  text-transform:uppercase;
  margin-bottom: 30px;
}
.button {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.06rem;
  line-height: 1.62;
  background-color: var(--secondary-background-color);
  font-family: "Roboto", sans-serif;
  border: none;
  display: inline-block;
}
.button:active,
.button:hover,
.button:focus {
  background-color: var(--main-active-color);
  color: var(--white);
  cursor: pointer;
}

.hero-link {
  background-color: var(--main-active-color);
  color: var(--white);
  line-height: 1.87;
  font-weight: 700;
}
.hero-link:active,
.hero-link:hover,
.hero-link:focus {
  background-color: var(--button-active-color);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.advantages-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  text-align: left;
}
.advantage {
  color: var(--secondary-text-color);
  line-height: 1.71;
  margin-top: 10px;
  text-align: left;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}
.advantages-section {
  padding-bottom: 0;
}
.team-section {
  background-color: var(--secondary-background-color);
}

.team-member {
  background-color: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.20);
  border-radius: 0 0 4px 4px;
  max-width: 270px;
}
.team-member-info {
  padding: 30px;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
}
.team-member-job {
  color: var(--secondary-text-color);
}



/* ------- portfolio page styles  ------- */
.filters-list{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: -8px;
}
.filters-list .button{
  line-height: 1.625;
  padding: 6px 22px;
  letter-spacing: 0.03rem;
  margin-right: 8px;
}
.filters-list .button:hover{
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.10), 0 1px 2px rgba(0, 0, 0, 0.8), 0 2px 2px rgba(0, 0, 0, 0.12);
}


.product {
  background-color: var(--white);
  /* border-radius: 0 0 4px 4px; */
  border: 1px solid var(--main-border-color);
    max-width: calc((100% - 90px) / 3);
/* 90 а не 60 тому що у останнього елементу є відступи справа */

}

.product:hover{
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-info {
  margin: 20px 24px;
  text-align: left;
}
.product-type {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.875;
}

.product-title{
  margin-bottom: 4px;
  letter-spacing: 0.06rem;
  font-size: 18px;
  line-height: 2;
}
/* ------- footer styles  ------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}
.footer .logo-text {
  color: var(--white);
}
.footer-address {
  padding-top: 20px;
}
.footer-address a {
  line-height: 1.71;
  color: var(--white);
  opacity: 60%;
  font-style: normal;
}
.footer-address a:hover,
.footer-address a:active,
.footer-address a:focus {
  opacity: 100%;
}
