:root {
  --main-text-color: #212121;
  --main-active-color: #2196f3;
  --white: #fff;
  --secondary-text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --button-active-color: #188ce8;
  --main-border-color: #ececec;
  --product-border-color: #eeeeee;
}

.list {
  list-style: none;
  padding: 0;
}
.link {
  text-decoration: none;
}

.invisible {
  display: none;
  visibility: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-text-color);
  letter-spacing: 0.03rem;
  color: var(--main-text-color);
}
/*  ------- header styles -------  */
.primary-header {
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.02rem;
  background-color: var(--white);
  border-bottom: 1px solid var(--main-border-color);
}

.logo-text {
  color: #000;
  font-size: 26px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.logo-text-part {
  color: var(--main-active-color);
}

.support > ul {
  margin: 0;
}
.navigation-link:hover,
.navigation-link:active,
.navigation-link:focus,
.navigation-link.link-active,
.support-link:hover,
.support-link:active,
.support-link:focus {
  color: var(--main-active-color);
}

.support-link {
  color: var(--secondary-text-color);
}
/* ------- general styles  ------- */
.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.hero {
  padding-top: 200px;
  background-color: var(--footer-background-color);
  text-align: center;
}
.hero-title {
  color: var(--white);
  letter-spacing: 0.06rem;
  line-height: 1.36;
  font-size: 44px;
  margin-top: 200px;
}
.button {
  box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 32px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.06rem;
  line-height: 1.62;
  background-color: var(--secondary-background-color);
  font-family: "Roboto", sans-serif;
  border: none;
}
.button:active,
.button:hover,
.button:focus {
  background-color: var(--main-active-color);
  color: var(--white);
  cursor: pointer;
}

.hero-link {
  background-color: var(--main-active-color);
  color: var(--white);
  line-height: 1.87;
  font-weight: 700;
  margin-top: 30px;
}
.hero-link:active,
.hero-link:hover,
.hero-link:focus {
  background-color: var(--button-active-color);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.advantages-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}
.advantage {
  color: var(--secondary-text-color);
  line-height: 1.71;
  margin-top: 10px;
}

.section {
  padding-top: 94px;
  text-align: center;
}
.team-section {
  background-color: var(--secondary-background-color);
}

.team-member {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
}
.team-member-info {
  padding: 30px 70px;
}
.team-member-name {
  font-weight: 500;
  font-size: 16px;
}
.team-member-job {
  color: var(--secondary-text-color);
}

/* ------- portfolio page styles  ------- */
.filters {
  padding-top: 94px;
}
.products {
}
.product {
  background-color: var(--white);
  border-radius: 0 0 4px 4px;
  border: 1px solid var(--main-border-color);
}

.product-info {
  margin: 20px 24px;
}
.product-type {
  color: var(--secondary-text-color);
}

/* ------- footer styles  ------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}
.footer .logo-text {
  color: var(--white);
}
.footer-address {
  padding-top: 20px;
}
.footer-address a {
  line-height: 1.71;
  color: var(--white);
  opacity: 60%;
  font-style: normal;
}
.footer-address a:hover,
.footer-address a:active,
.footer-address a:focus {
  opacity: 100%;
}
